@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk300.woff2')format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk500.woff2')format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk700.woff2')format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --col1: oklch(0.84 0.28 141.55);
  --col2: oklch(0.63 0.23 303.91);
  --col3: oklch(0.98 0 0);
  --col4: oklch(0.16 0.01 144.91);
  --col5: oklch(0.23 0.04 140.32);
}

html {
  font-size: 18px;
  line-height: 1.5;
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
  background-color: var(--col4);
  color: var(--col3)
}

main {
  background: var(--col4);
  background-image: radial-gradient(
    circle at 50% 15%,
    color-mix(in oklch, var(--col1) 50%, transparent) 0%,
    color-mix(in oklch, var(--col4) 50%, transparent) 40%,
    color-mix(in oklch, var(--col4) 50%, transparent) 100%
    );
  height: 100vh;
}

section {
  margin: 2rem 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    inset: 0;
  }

  *:focus {
    outline: 2px solid var(--col2);
    outline-offset: 2px;
  }

.cntr {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 996px;
  margin-inline: auto;
  padding-inline: 1rem;

  &.hero {
    text-align: center;
    justify-items: center;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;

}

h1,h2,h3 {
  color: var(--col3);
}

.brand {
  font-size: 3.5rem;
}

.tinted {
  color: var(--col1);
}

.logo {
  position: relative;
  overflow: hidden;
}

.img-wrapper{
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-image: radial-gradient(
    circle,
    color-mix(in oklch, var(--col1) 50%, transparent) 0%,
    color-mix(in oklch, var(--col4) 0%, transparent) 65%
    );
  transform: translateY(0);
  animation: floater 4s cubic-bezier(.31,0,.71,1) infinite alternate;
}

.btn {
  padding: 0.25rem 1rem;
  border-radius: 1.5rem;
  border: 1px var(--col1) solid;
  background-color: color-mix(in oklch, var(--col1) 15%, transparent);
  color: var(--col1);
  font-weight: 700;
  min-height: 2rem;
  width: fit-content;

    &.cta {
      background-color: var(--col1);
      color: var(--col4);
    }

    &.icon {
      display: inline-flex;
      align-items: center;
      gap: .5rem;
    }

    &:hover {
      cursor: pointer;
      background-color: color-mix(in oklch, var(--col1) 50%, transparent);
    }
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

.icon-wrapper {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}

@keyframes floater {
  0% {
    transform: translateY(-.75rem);
  }
  100% {
    transform: translateY(.75rem);
  } 
}
