@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk300.woff2')format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk500.woff2')format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk700.woff2')format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --col1: #33f20d;
  --col2: #a855f7;
  --col3: #f6f8f5;
  --col4: #0a0f0a;
  --col5: #132210;
}

html {
  font-size: 18px;
  line-height: 1.5;
}

body {
  background-color: var(--col4);
  color: var(--col3)
}

main {
  background: var(--col4);
  background-image: radial-gradient(
    circle at 50% 15%,
    rgba(51, 242, 13, .5) 0%, 
    rgba(10, 15, 10, .5) 40%, 
    rgba(10, 15, 10, .5) 
    100%);
  height: 100vh;
}

section {
  margin: 2rem 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    inset: 0;
  }

  *:focus {
    outline: 2px solid var(--col2);
    outline-offset: 2px;
  }

.cntr {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 996px;
  margin-inline: auto;

  &.hero {
    text-align: center;
    justify-items: center;
  }
}

h1,h2,h3 {
  font-family: 'SpaceGrotesk', sans-serif;
  color: var(--col3);
}

.tinted {
  color: var(--col1);
}

.logo {
  position: relative;
  overflow: hidden;
}

.img-wrapper{
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-image: radial-gradient(
    circle,
    rgba(51, 242, 13, .5) 0%, 
    rgba(10, 15, 10, 0) 65%, 
    rgba(10, 15, 10, 0) 
    100%);
  transform: translateY(0);
  animation: floater 4s cubic-bezier(.31,0,.71,1) infinite alternate;
}

@keyframes floater {
  0% {
    transform: translateY(-.75rem);
  }
  100% {
    transform: translateY(.75rem);
  } 
}
