header {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  background-color: var(--col5);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--col3);
}

.link-logo {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
}

svg.giddy {
  color: var(--col5);
  .face {
    fill: var(--col1);
  }
}