---
import "@styles/about.css";
import Tag from '@components/ui/tag.astro';
import IconList from "@components/ui/iconList.astro";
---
<section 
    id="about"
    class="about">
    <div class="cntr">
      <h2>Playing is better when it is <span class="tinted">free.</span></h2>
      <Tag/>
      <p>Welcome to GlowingAlien, your ultimate destination for high-quality browser games. We believe that everyone should have access to great entertainment without worrying about price tags or subscriptions.</p>
      <IconList/>
    </div>
  </section>