---
import "@styles/footer.css";
import Avatar from '@components/ui/avatar.astro';
import Menu from '@components/ui/menu.astro';
---
<footer>
  <div class="cntr">
    <div class="footer-navbar">
      <a href="/"
        title="GlowingAlien Home"
        class="link-logo"
        >
        <div class="icon-wrapper">
          <Avatar/>
        </div>
        <div class="logo">
          GlowingAlien
        </div>
      </a>
      <Menu/>
    </div>
    <div class="footer-content">
      <p>&copy; 2024 GlowingAlien. All rights reserved.</p>
      <p>Designed and Developed with ❤️ for Gamers</p>
    </div>
  </div>
</footer>