---
import '@styles/header.css';
import Avatar from '@components/ui/avatar.astro';
import Menu from '@components/ui/menu.astro';
---
<header>
  <a href="/"
    title="GlowingAlien Home"
    class="link-logo"
    >
    <div class="icon-wrapper">
      <Avatar/>
    </div>
    <div class="logo">
      GlowingAlien
    </div>
  </a>
  <Menu/>
</header>