---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <section class="hero">
    <div class="cntr hero">
      <div class="logo">
        <div class="img-wrapper">
          <img src="/glowingalien-logo.svg" alt="GlowingAlien Logo" width="200" height="200">
        </div>
      </div>
    	<h1>Glowing<span class="tinted">Alien</span></h1>
    </div>
  </section>
</Layout>