---
import { useState } from "react";
import RegisterForm from "@components/RegisterForm";
---

<html lang="en">
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <RegisterForm client:load />
  </body>
</html>