---
import VerifyEmailComponent from "@components/VerifyEmail";
---

<html lang="en">
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <h1>Verify Email</h1>
    <VerifyEmailComponent client:load />
  </body>
</html>