---
import { getAllGameSlugs } from "@services/gameService";
import Leaderboard from "@components/Leaderboard";

export async function getStaticPaths() {
  const slugs = await getAllGameSlugs();

  return slugs.map(slug => ({
    params: { slug }
  }));
}

const { slug } = Astro.params;

console.log('PAGE ASTRO')
---

<h1>{slug} Leaderboard</h1>

<Leaderboard client:load gameSlug={slug} />

<h3>test</h3>