---
import "@styles/higiddy.css";
import Avatar from "./avatar.astro";
import Online from "./icon-online.astro";
---

<div class="buddy">
  <Avatar/>
  <button class="btn icon top">
    <div class="icon-wrapper">
      <Online />
    </div>YOUR GAMING BUDDY</button>
    <h3>I'm Giddy</h3>
    <p>Let's get gaming together in my Intergalactic Gaming Hub!</p>
</div>