---
import "@styles/iconlist.css";
import ListIcon from './icon-ads.astro';
import InstantIcon from './icon-instant.astro';
---
<ul class="icon-list">
  <li class="icon-item">
    <span class="icon-wrapper">
      <ListIcon />
    </span>
    <div class="icon-text">
      <h3>Ad-Supported Warp Core</h3>
      <p>Our games are free forever thanks to our ad-powered fuel cells. This sustainable model allows us to host our premium titles while keeping the experience completely free for you.</p>
    </div>
  </li>
  <li class="icon-item">
    <span class="icon-wrapper">
      <InstantIcon />
    </span>
    <div class="icon-text">
      <h3>Faster-Than-Light</h3>
      <p>No downloads, no installations. Just click and play directly in your browser on any device. We optimize every game for maximum speed.</p>
    </div>
  </li>
</ul>